.playlist {
	display: flex;
	justify-content: space-between;
	.playlist-section {
		// PLAYLIST HEADER///////
		width: 100% !important;

		.playlist-header {
			padding: 20px 0;
			background: #def628;
			div {
				display: flex;
				gap: 15px;
			}
		}

		// PLAYLIST HERO ////////////
		.playlist-hero {
			background: linear-gradient(180deg, #def628 1.09%, #121212 99.28%);
			margin-bottom: 50px;
			h1 {
				color: #fff;
				font-size: 60px;
				font-style: normal;
				font-weight: 900;
				line-height: normal;
				letter-spacing: -2.32px;
			}
		}
	}
}
